# ============================================================
#  C++ Build
# ============================================================
build/
cmake-build-*/
*.o
*.a
*.so
*.out
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ============================================================
#  LibTorch / TorchScript models
# ============================================================
*.pt
*.pth
libtorch/

# ============================================================
#  Python
# ============================================================
__pycache__/
*.pyc
*.pyo
.env
venv/
env/
*.egg-info/
dist/

# ============================================================
#  Data (souvent trop lourd pour Git)
# ============================================================
data/
*.csv

# ============================================================
#  VS Code
# ============================================================
.vscode/

# ============================================================
#  Windows / WSL
# ============================================================
Thumbs.db
desktop.ini
*~
*.out
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/
src/sim/
src/a.out
src/sim
GNN/*.pt
__pycache__
